.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 20px;
  background:#0f1624;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:1000;
  border-bottom:1px solid #1e1e1e;
}

.topbar h1{
  font-size:20px;
}

.top-icons i{
  font-size:20px;
  margin-left:15px;
  cursor:pointer;
  opacity:.8;
}
