.tasks-topbar{
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:70px;
  background:#0f1624;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 20px;
  z-index:100;
}

.tasks-topbar h1{
  font-size:22px;
  font-weight:600;
}

.tasks-top-icons i{
  font-size:20px;
  margin-left:15px;
  cursor:pointer;
  opacity:.8;
}
